<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container title">
      <h1>Generator Passwords</h1>
    </div>
    <div class="container inputCharacters">
      <input
        type="text"
        id="NumberCharacters"
        placeholder="Number of characters"
      />
    </div>
    <div class="container">
      <div class="subTitle">
        <h4>Resultado</h4>
      </div>
      <div class="resultado">
        <h3 id="password" style="margin-bottom: 25px"></h3>
        <button
          class="btn-large waves-effect waves-purple"
          data-position="right"
          data-tooltip="Copy"
          onclick="myFunction(), notifications()"
        >
          Copy
        </button>
      </div>
    </div>
    <div class="container botonSeccion">
      <button
        class="btn-large waves-effect waves-light botonColor"
        onclick="generated()"
        id="submitButton"
      >
        Generar
      </button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="sricpts/app.js"></script>
    <script src="sricpts/notifycations.js"></script>
  </body>
</html>
