body {
  background:url("../images/padlock.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.title {
  display: flex;
  justify-content: center;
  text-align: center;
}
.inputCharacters {
  display: flex;
  justify-content: center;
}
input {
  text-align: center;
}
.resultado {
  background: linear-gradient(to right top, #65dfc9, #6cdbed);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  margin: 20px auto 40px;
}
.botonSeccion {
  display: flex;
  justify-content: center;
}
.subTitle {
  display: flex;
  justify-content: center;
}
